@font-face {
  font-family: "Steinbeck";
  font-weight: 400;
  font-style: italic;
  src: font-url("steinbeck-italic.otf");
}
@font-face {
  font-family: "Steinbeck";
  font-weight: 400;
  font-style: normal;
  src: font-url("steinbeck.otf");
}
