<div class="home-wrapper">
  <h1>QUEUE</h1>
  <div class="buttons-wrapper">
    <a href="/users/sign_in" class="default-button">Войти</a>
    <a href="/users/sign_up" class="default-button inversed">Зарегистрироваться</a>
  </div>
</div>